<?xml version="1.0" encoding="utf-8"?>
<simulationSettings>
    <data key="amountFloors">4</data>
    <data key="amountElevators">1</data>
    <data key="endOfSimulationTime">1000</data>
    <data key="meanPoissonPersonArrival">0.5</data>
    <data key="meanExponentialWorkTime">60.0</data>
</simulationSettings>
